// =================================
// Error Message
// =================================
$error-msg-background: indianred;
$error-msg-colour: #FFFFFF;
$error-msg-border: none;

// =================================
// Success Message
// =================================
$success-msg-background: green;
$success-msg-colour: #FFFFFF;
$error-msg-border: none;

// =================================
// Form
// =================================

$form-colour: #FFFFFF;
$form-background: #122449;
$form-border: none;
$form-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$form-text-size: 12px;
$form-heading-size: 24px;
$form-margin: 0;
$form-padding: 20px;

// =================================
// Form Row
// =================================

$form-row-border: none;
$form-row-margin: 0 0 30px;
$form-row-padding: 0;
$form-row-colour: $form-colour;
$form-row-background: none;
$form-row-border-radius: 0;

// =================================
// Form Fields
// =================================

$form-field-border: 1px solid #FFFFFF;
$form-field-margin: 0;
$form-field-padding: 15px;
$form-field-colour: #333333;
$form-field-background: #a2b5da;
$form-field-border-radius: 0;

$form-label-color: #FFFFFF;
$form-label-margin: 0;
$form-label-padding: 0;

$form-choice-label-color: $form-label-color;
$form-choice-offset-margin: 20px;
$form-choice-label-spacing: 5px;
$form-choice-label-margin: 0 0 0 $form-choice-offset-margin;
$form-choice-label-padding: 0;

// =================================
// Form Buttons
// =================================

$form-button-border: none;
$form-button-margin: 0 0 10px;
$form-button-padding: 15px;
$form-button-colour: #FFFFFF;
$form-button-background: #a2b5da;
$form-button-border-radius: 0;

// hover
$form-button-hover-border: none;
$form-button-hover-colour: #a2b5da;
$form-button-hover-background: #FFFFFF;
