.wpdf-form {
  padding: 1em;
}

.wpdf-input-select .wpdf-field, .wpdf-input-textarea .wpdf-field, .wpdf-input-text .wpdf-field {
  width: 100%;
}

.wpdf-form-row {
  margin-bottom: 1em;
  width: 100%;
}

.wpdf-choices label {
  margin-right: 1em;
  display: inline-block;
}

.wpdf-form-error, .wpdf-form-confirmation {
  padding: 1em 1em 0;
  margin-bottom: 1em;
  overflow: hidden;
}

.wpdf-form-error p, .wpdf-form-error ul, .wpdf-form-confirmation p, .wpdf-form-confirmation ul {
  margin-bottom: 1em;
}

@media screen and (max-height: 575px) {
  .wpdf-form #rc-imageselect, .wpdf-form .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
