// =====================================
// Layout CSS
// =====================================

.wpdf-form.wpdf-form__layout{

    $spacing: 1em;
    $choice-spacing: 1em;
    $form-padding: 1em;
    $message-spacing: 1em;

    padding: $form-padding;

    .wpdf-form-title{
        margin: 0;
        padding: 0;

        h1{
            margin: 0 0 1em;
            padding: 0;
        }
    }
    .wpdf-form-copy{
        p{
            margin: 0 0 1em;
            padding: 0;
        }
    }

    .wpdf-form-error, .wpdf-form-confirmation{
        padding: $message-spacing $message-spacing 0;
        margin-bottom:$spacing;
        overflow: hidden;

        p, li, ul{
            margin: 0 0 $message-spacing;
        }

        ul{
            li:last-child{
                margin-bottom: 0;
            }
        }
    }

    .wpdf-form-errors{
        list-style: none;
    }

    .wpdf-choices {
        label {
            margin-right: $choice-spacing;
            display: inline-block;
        }
        input{
            margin-right: 0.5em;
        }
    }

    .wpdf-input-select, .wpdf-input-textarea, .wpdf-input-text {
        .wpdf-field {
            width: 100%;
        }
    }

    .wpdf-form-row {
        margin-bottom: $spacing;
        width: 100%;
        clear: left;

        // two column layout
        &.wpdf-half-col, &.wpdf-half-col-last{
            width: 48%;
            clear: none;
            float:left;
        }
        &.wpdf-half-col{
            margin-right: 4%;
        }
        &.wpdf-half-col-last{
            margin-right: 0;
        }
    }
}

@media screen and (max-height: 575px){
    .wpdf-form {
        #rc-imageselect, .g-recaptcha {
            transform: scale(0.77);
            -webkit-transform: scale(0.77);
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }
    }
}