$spacing: 1em;
$choice-spacing: 1em;

.wpdf-form {
    padding: $spacing;
}

.wpdf-input-select, .wpdf-input-textarea, .wpdf-input-text {
    .wpdf-field {
        width: 100%;
    }
}

.wpdf-form-row {
    margin-bottom: $spacing;
    width: 100%;
}

.wpdf-choices label {
    margin-right: $choice-spacing;
    display: inline-block;
}

.wpdf-form-error{
    padding: $spacing $spacing 0;
    margin-bottom:$spacing;
    overflow: hidden;

    p, ul{
        margin-bottom:$spacing;
    }
}

@media screen and (max-height: 575px){
    .wpdf-form {
        #rc-imageselect, .g-recaptcha {
            transform: scale(0.77);
            -webkit-transform: scale(0.77);
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }
    }
}