.wpdf-form .wpdf-form-row {
  margin-bottom: 1em;
}

.wpdf-form .wpdf-choices label {
  margin-right: 1em;
  display: inline-block;
}

.wpdf-form-error {
  background: indianred;
  padding: 30px 15px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.wpdf-form-errors {
  margin: 0;
  padding: 0 0 0 30px;
}

.wpdf-field-error {
  color: indianred;
}

.wpdf-has-error .wpdf-field {
  border: 1px solid indianred;
}

.wpdf-has-error.input-checkbox .wpdf-choices label, .wpdf-has-error.input-radio .wpdf-choices label {
  color: indianred;
}

/* Form Confirmation Message */
.wpdf-form-confirmation {
  background: green;
  color: #FFFFFF;
  padding: 15px 15px 5px;
  margin-bottom: 1.75em;
}

.wpdf-form-confirmation p {
  margin-bottom: 10px;
}

/**
 * Theme 01
 */
.wpdf-form {
  background: #122449;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  border: none;
  margin: 0;
  padding: 20px;
}

.wpdf-form .wpdf-form-title h1, .wpdf-form .wpdf-form-title h2, .wpdf-form .wpdf-form-title h3, .wpdf-form .wpdf-form-title h4, .wpdf-form .wpdf-form-title h5, .wpdf-form .wpdf-form-title h6, .wpdf-form .wpdf-form-title p {
  font-size: 24px;
}

.wpdf-form, .wpdf-form p, .wpdf-form label {
  color: #FFFFFF;
}

.wpdf-form .wpdf-form-row {
  border-radius: 0;
  background: none;
  color: #FFFFFF;
  border: none;
  margin: 0 0 30px;
  padding: 0;
  box-sizing: border-box;
}

.wpdf-form .wpdf-field {
  border-radius: 0;
  background: #a2b5da;
  color: #333333;
  border: 1px solid #FFFFFF;
  margin: 0;
  padding: 15px;
}

.wpdf-form .wpdf-label label {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.wpdf-form .wpdf-choices {
  margin-left: -20px;
}

.wpdf-form .wpdf-choices input {
  margin-right: 5px;
}

.wpdf-form .wpdf-choices label {
  color: #FFFFFF;
  margin: 0 0 0 20px;
  padding: 0;
}

.wpdf-form .wpdf-input-select .wpdf-field, .wpdf-form .wpdf-input-text .wpdf-field, .wpdf-form .wpdf-input-textarea .wpdf-field {
  width: 100%;
}

.wpdf-form .wpdf-button {
  border: none;
  border-radius: 0;
  color: #FFFFFF;
  background: #a2b5da;
  margin: 0 0 10px;
  padding: 15px;
}

.wpdf-form .wpdf-button:hover {
  border: none;
  color: #a2b5da;
  background: #FFFFFF;
}

@media screen and (max-height: 575px) {
  .wpdf-form #rc-imageselect, .wpdf-form .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
